<app-employee-header />

<div class="table">
  <div class="table-content">
    <h1>My Team Members Details</h1>

    <div *ngIf="myTask.length === 0">
      <hr />
      <p
        style="
          color: red;
          font-size: 25px;
          text-align: center;
          margin-top: 20px;
        "
      >
        No task assigned to you right now.
      </p>
    </div>

    <table
      *ngIf="myTask.length > 0"
      mat-table
      [dataSource]="myTask"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="createat">
        <th mat-header-cell *matHeaderCellDef>Task Created At</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "dd MMMM YYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="duedate">
        <th mat-header-cell *matHeaderCellDef>Due Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dueDate | date : "dd MMMM YYYY" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            [disabled]="element.status === 'completed'"
            (click)="completeTask(element._id)"
            mat-raised-button
            color="primary"
          >
            click to complete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
